parameters:
    level: 10
    paths:
        - src
    excludePaths:
        - src/Rendering/VulkanRenderer3D.php
    scanFiles:
        - stubs/vulkan.stub.php
        - stubs/metal.stub.php
        - stubs/vio.stub.php
        - stubs/glfw.stub.php
